@import "../../theme/variables";
@import "../../theme/functions/grid";

.status {
  border-radius: $radius-medium;
  transition: background-color $animation-speed-medium ease-in-out;
  padding: grid(3) grid(1);

  &--good {
    background-color:$color-good;
  }

  &--warn {
    background-color:$color-warn;
  }

  &--error {
    background-color: $color-error;
  }
}

.icon-wrap {
  width: grid(6);
  height: grid(6);

  & > * {
    width: 100%;
    height: 100%;
    fill: $color-text-primary;
  }
}