@import "../../theme/variables";
@import "../../theme/functions/grid";
@import "../../theme/functions/screen";

// configuration
$height: grid(16);
$shadow: 0 0 grid(4) 0 rgba(0, 0, 0, 0.25);
$top-space: grid(7);
$background: $color-bg-secondary;

.stack {
  z-index: 1;
  overflow: hidden;
  margin-top: -$top-space;
  height: $height + $top-space !important;
}

.main-menu-item {
  align-items: center;
  padding: grid(3) 0;
  width: $height;
  height: $height;
  color: $color-text-tertiary;
  font-size: $font-size-small;
  cursor: pointer;

  svg path {
    transition: fill $animation-speed-medium ease-in-out;
  }

// TODO: transitioning box-shadow might cause performance issues, seems to work for now
  transition: transform $animation-speed-medium ease-in-out, box-shadow $animation-speed-medium ease-in-out;
  transform: translateY($top-space);
  pointer-events: all;

  &--active {
    transform: translateY($top-space - grid(1)) scale(1.2);
    color: $color-text-secondary;

    svg path {
      fill: $color-text-secondary;
    }
  }

  &--background {
    border-radius: $radius-infinite;
    background: $background;
    box-shadow: none;

    // no need to render content for background items
    .main-menu-icon,
    .main-menu-text {
      display: none;
    }
  }
}

.main-menu-item--active.main-menu-item--background {
  box-shadow: $shadow;
}

// main menu background with the shadow
.background-behind {
  top: $top-space;
  box-shadow: $shadow;
}

// main menu background in front of the background items with color
.background-front {
  top: $top-space;
  background-color: $background;
}

.main-menu-icon {
  > * {
    width: 100%;
    height: 100%;
  }
}

.main-menu-text {
  padding-top: screen(12);

  user-select: none;
}
