// https://dopiaza.org/tools/datauri/index.php
@mixin icon($width, $height, $data) {
  display: block;
  width: $width;
  height: $height;
  mask-image: url($data);
  // mask-size: $height $width;
  background-color: $text-primary;
}

.icon {
  // main menu
  &__status {
    @include icon(37px, 32px, "gfx/icons/status.svg");
  }

  &__map {
    @include icon(32px, 32px, "gfx/icons/map.svg");
  }

  &__bot {
    @include icon(27px, 32px, "gfx/icons/bot.svg");
  }

  &__remote {
    @include icon(44px, 32px, "gfx/icons/remote.svg");
  }

  &__settings {
    @include icon(32px, 32px, "gfx/icons/settings.svg");
  }

  // status view
  &__bluetooth {
    @include icon(19px, 32px, "gfx/icons/bluetooth.svg");
  }

  &__serial {
    @include icon(32px, 32px, "gfx/icons/serial.svg");
  }

  &__web-socket {
    @include icon(47px, 32px, "gfx/icons/web-socket.svg");
  }

  &__battery {
    @include icon(35px, 32px, "gfx/icons/battery.svg");
  }

  // buttons
  &__clear {
    @include icon(32px, 32px, "gfx/icons/clear.svg");
  }
}
