@import "../../gfx/variables.scss";

.view--grid {
  padding: 5px;
}

.grid {
  display: grid;
  grid-gap: 5px;

  &__item {
    background-color: $bg-tertiary;
  }

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .icon {
      background-color: $text-primary;
    }
  }

  &__text {
    line-height: 1.25em;
    text-align: center;
    margin-top: 8px;

    &--primary {
      font-variant: small-caps;
    }

    &--secondary {
      //font-style: italic;
    }
  }
}
