@import "../../gfx/variables";

.status-view {
  // TODO: handle scrolling
  .log {
    padding: 8px;
    grid-column: 1 / 3;
    font-family: Consolas, "Courier New", Courier, monospace;

    &__entry {
      &__time {
        color: $text-secondary;
      }
    }
  }
}
