@import "../../gfx/variables";

.remote-view {
  .joystick-grid {
    display: grid;
    grid-template: 1fr;
    grid-gap: $grid-gap;
    height: 100%;

    &__item {
      position: relative;
      background-color: $bg-tertiary;
    }
  }
}

.joystick {
  width: 100%;
  height: 100%;
}
