$darker-lighter-percentage: 25%;

$text-primary: #f0f0f0;
$text-secondary: #969696;

$bg-primary: #cc3333;
$bg-secondary: #282828;
$bg-tertiary: lighten($bg-secondary, 5%);
$bg-quaternary: #087099;

$bg-good: #009900;
$bg-warn: #999900;
$bg-bad: #990000;

$grid-gap: 5px;
